.support-message{background:#fff;border:1px solid #337ab7; border-left:5px solid #337ab7;-webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;margin-bottom:10px}
.support-message.message-right{border-right:5px solid #337ab7; border-left:1px solid #337ab7;text-align: right;}
.support-message.message-new{background:#eff7f9}
.support-message .message{ color:#555; padding: 5px 10px;}
.support-message .message-date{color:#777;font-size:10px; padding: 5px 10px}

.color-preview{display: inline-block;width: 15px;height: 15px;border-radius: 50%;border: 1px solid #ccc;}
#x-window{color: #000;font-size: 12px;font-weight: 400;font-family: tahoma,arial,verdana,sans-serif;overflow-x: auto;overflow-y: hidden;}
.x-panel{
    overflow: hidden;
    position: relative;
}
.x-toolbar{
    padding: 2px 0 2px 2px;
    border-color: #bcb0b0;
    border-width: 1px;
}
.x-grid-body {
    background: #fff;
    border: 1px  solid  #d0d0d0;
    color: #333;
    font-size: 12px;
    margin-top: 10px;
}
.x-grid-header{
    height:60px;
    border-bottom: 1px solid #d0d0d0;
}
#x-grid-items{
    max-width: 200px;
    min-width: 100px;
    display: table-cell;
    border-right: 1px solid #d0d0d0;
}
#x-grid-cells{
    vertical-align: top;
    display: table-cell;
    width: 100%;
}
#x-grid-cells td {min-width: 40px}
table.x-grid-table-header{
    height: 100%;
    background-color: #3c8dbc;
    color:#fff;
}
table.x-grid-table-header, table.x-grid-table-body{
    width: 100%;height: inherit;
}
table.x-grid-table-header td{
    text-align: center;
    font-weight: bold;
    border-right:1px solid #d0d0d0;
    min-width: 20px;
}
table.x-grid-table-header td:last-child{
    border-right: none;
}
table.x-grid-table-header tr{
    border-bottom:1px solid #d0d0d0;
}
table.x-grid-table-body td{border-right:1px solid #d0d0d0;background-color: #fff;
    height: 30px;}
table.x-grid-table-body td:last-child{border-right:none}
table.x-grid-table-header tr:last-child{
    border-bottom:none;
}
.x-grid-block-body{height: 41px;border-bottom:1px solid #d0d0d0;}
.x-grid-items-body .x-grid-block-body:last-child{border:none}
#x-grid-items table.x-grid-table-header tr > td:first-child, #x-grid-items table.x-grid-table-body  tr > td:first-child {
    width: 25px;
}
.x-grid-cells-header .x-grid-table-header td span{
    display:block;
    font-weight: normal;
    line-height: 12px;
}
.x-grid-cells-header .x-grid-table-header td.weekend-days span{font-weight: bold;  }
.x-grid-cells-header .x-grid-table-header td.weekend-days{background-color: rgb(242, 127, 127);}
#x-grid-table-rows{width:100%}
#x-grid-table-rows tr{border-bottom:1px solid #d0d0d0;}
#x-grid-table-rows tr:last-child{border-bottom:none;}
#x-grid-table-rows > tbody > tr > td{position: relative;overflow: hidden;height:40px}
#x-grid-table-rows .x-grid-booking{position:absolute; top:0; left:0;background-color: #e3e3e3;height: 38px;
    border: 1px solid #888;padding: 0;margin: 1px;overflow: hidden;border-radius: 5px;cursor:pointer; min-width: 20px;z-index:1}
#x-grid-table-rows .x-grid-booking:hover{z-index: 10;}
#x-grid-table-rows .x-grid-booking .x-grid-booking-customer{margin:0 5px; font-weight: bold; font-size:14px;overflow: hidden;white-space: nowrap;}
#x-grid-table-rows .x-grid-booking .x-grid-booking-date{margin:1px 3px 0 5px; font-size:10px;overflow: hidden;white-space: nowrap;}
#x-grid-table-rows .x-grid-booking .early{position: absolute;left: 0;top: 8px;color: #ffffff;cursor: pointer;}
#x-grid-table-rows .x-grid-booking .late{position: absolute;right: 0;top: 8px;color: #ffffff;cursor: pointer;}
.x-grid-items-body table{border-bottom:1px solid #d0d0d0;}
.x-grid-items-body table:last-child{border-bottom:none;}
.x-grid-apartment-name{overflow: hidden; white-space: nowrap;padding: 5px 0;margin: 0 5px;}
#modal-add-customer, #modal-add-customer-phone {cursor: pointer;}
.no-border{border:none}
#customer-result, #customer-phone-result{display:none;background: #fff;position: absolute; top: 36px; left: 0; width: 100%; z-index: 100;border: 2px solid #B8CBFF;
    max-height: 200px; overflow-y: scroll; padding: 2px 2px 10px 2px}
.customer-item{padding: 5px;cursor: pointer;}
.customer-item:hover{color:#777;}
div.cell-empty{height: inherit;margin:4px; background-color: #F4F4F4; cursor:pointer}
.payment-row.payment-edit{background: #bae6ee;}

div.form-control{height: auto; min-height: 34px}
.child-block-inline > * {display: inline-block;padding-right: 5px;}

/* spacing */
.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.margin-x-xs { margin: .25em 0; }
.margin-x-sm { margin: .5em 0; }
.margin-x-md { margin: 1em 0; }
.margin-x-lg { margin: 1.5em 0; }
.margin-x-xl { margin: 3em 0; }

.margin-y-xs { margin: 0 .25em; }
.margin-y-sm { margin: 0 .5em; }
.margin-y-md { margin: 0 1em; }
.margin-y-lg { margin: 0 1.5em; }
.margin-y-xl { margin: 0 3em; }

.margin-top-xs { margin-top: .25em; }
.margin-top-sm { margin-top: .5em; }
.margin-top-md { margin-top: 1em; }
.margin-top-lg { margin-top: 1.5em; }
.margin-top-xl { margin-top: 3em; }

.margin-right-xs { margin-right: .25em; }
.margin-right-sm { margin-right: .5em; }
.margin-right-md { margin-right: 1em; }
.margin-right-lg { margin-right: 1.5em; }
.margin-right-xl { margin-right: 3em; }

.margin-bottom-xs { margin-bottom: .25em; }
.margin-bottom-sm { margin-bottom: .5em; }
.margin-bottom-md { margin-bottom: 1em; }
.margin-bottom-lg { margin-bottom: 1.5em; }
.margin-bottom-xl { margin-bottom: 3em; }

.margin-left-xs { margin-left: .25em; }
.margin-left-sm { margin-left: .5em; }
.margin-left-md { margin-left: 1em; }
.margin-left-lg { margin-left: 1.5em; }
.margin-left-xl { margin-left: 3em; }

#info-block {
    position:absolute;
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
    z-index: 10;
    display: none;
    font-size: 12px;
    border-radius: 4px;
}
.box .overlay, .overlay-wrapper .overlay {
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}

.x-table-header2 {
    display: flex;
    height: 100%;
}
.x-grid-block-body2 {
    height: 50px;
}
.x-table-header2-title {
    flex: 1 0;
    text-align: center;
    align-content: center;
    font-weight: bold;
    background-color: #3c8dbc;
    color: #fff;
}
.x-grid-table-rows2 {
    display: flex;
}
.x-grid-table-rows2-item {
    flex: 1 0;
    text-align: center;
    border-top: 1px solid #d0d0d0;
}