@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf');
    font-weight: bold;
}
html, body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
}
body {
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}
a {
    color: #0099cc;
    text-decoration: none;
}
a:hover, a:focus {
     color: #0099cc;
     text-decoration: underline;
}
a:focus {
    outline: none;
    outline-offset: 0;
}
/** Main menu **/
.navbar-main-menu {
    background-color: #fff;
    border-color: #c4c4c4;
    font-weight: 300;
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
    border-radius: 0;
    border-width: 0 0 1px;
}

.navbar-main-menu .navbar-nav > li > a {
    color: #333;
}

.navbar-main-menu .navbar-nav > .active > a, .navbar-main-menu .navbar-nav > .active > a:hover, .navbar-main-menu .navbar-nav > .active > a:focus {
    border-bottom: 3px solid transparent;
    border-color: #d92228;
    color: #333;
}

.navbar-main-menu .navbar-nav > .active > a:hover, .navbar-main-menu .navbar-nav > li > a:hover {
    color: #d92228;
    background: transparent;
    text-decoration: none;
}
.navbar-main-menu .navbar-toggle .icon-bar {
    background-color: #222;
}
/** Main header **/
.home-header {
    position: relative;
}

.home-header .hero-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    background-color: #f7f7f7;
}

.home-header .hero-img-wrapper .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #999;
    height: 100%;
}

.home-header .hero-img-wrapper img {
    max-width: none;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 100%;
}

.home-header .header-group {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header-group.header-group-white {
    color: #fff;
}

.header-group {
    margin: 20px 0;
}

.home-header .header-group h1 {
    margin-top: 40px;
    font-size: 3.9em;
    font-weight: 400;
}

.home-header .header-group .header-section-secondary {
    font-size: 1.7em;
    margin: 0 0 30px 0;
}

.header-group .header-section-secondary {
    margin: 5px 0;
    display: block;
}

.header-section-secondary {
    font-size: 18px;
    font-weight: 300;
}

.home-header .home-search-wrapper {
    max-width: 700px;
    margin: 20px auto 30px;
    position: relative;
}
.home-header .home-search-wrapper .search-input-group {
    background-color: rgba(255,255,255,0.9);
}

.header-group {
    margin: 20px 0;
}
.header-group .header-section {
    margin: 0;
}
.header-section {
    font-size: 40px;
    font-weight: 300;
    margin: 20px 0;
}
.header-group .header-section-secondary {
    margin: 5px 0;
    display: block;
}
/** Apartment block **/

.apartment {
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    position: relative;
    display: block;
    color: #333;
    margin-bottom: 26px;
}
.apartment .apartment-id {
    position: absolute;
    background-color: rgba(100, 100, 100, 0.6);
    top: 12px;
    left: 0;
    padding: 2px 5px 2px 10px;
    color: #fff;
    font-weight: bold;
    z-index:2;
}
.apartment .apartment-photo {
    position:relative;
}
.apartment .apartment-photo img {
    height: auto;
    width: 100%;
}
.apartment .apartment-info {
       margin: 10px 15px;
       background-color: #fff;
    overflow: hidden;
    height: 95px;
   }
.apartment .apartment-header {
    margin: 0;
    padding: 10px 15px;
    font-size: 16px;
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.6);
    z-index: 2;
}
.apartment .apartment-header a {
    color: #fff;
}
.apartment .apartment-info .apartment-info-meta {
        font-size: 12px;
    }
.apartment .apartment-info .apartment-info-price {
     font-weight: 700;
     position: relative;
     font-size: 18px;

 }

.apartment-info-price {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.apartment-info-discount-price {
    font-size: 20px;
    color: #d84343;
}

.apartment-info-price-old {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
}
.apartment-discount-label {
    background: url("../images/discount.svg") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 68px;
    z-index: 1;
}
.apartment-free-now-label {
    position: absolute;
    background-color: green;
    color: white;
    padding: 4px 16px;
    top: 174px;
    z-index: 1;
    font-size: 16px;
    text-transform: uppercase;
}

.apartment-photo-section .apartment-free-now-label {
    top: auto;
    bottom: 10px;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.border-gray {
    border: 1px solid #dcdcdc;
}
/** footer **/
.footer {
    color: #333;
    font-size: 14px;
    font-weight: 300 !important;
    font-family: "helvetica", sans-serif !important;
    padding-top: 20px;
}
.footer .footer-wrapper-copyright {
    padding: 15px 0;
    text-align: right;
}
.footer .footer-wrapper-copyright{
    border-top: 1px solid #dcdcdc;
}
.footer .footer-wrapper-copyright p, .footer .footer-wrapper-copyright a {
    font-size: 10px;
    color: #c4c4c4;
}
.footer p {
    margin: 0 0 10px;
    line-height: 1.4;
}
/** apartment page**/
.title-section {
    font-size: 24px;
}
.apartment-section {
    padding-top: 5px;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #c4c4c4;
}
.apartment-price {
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.1;
    text-align: right;
}

.apartment-price-old {
    font-size: 18px;
    color: #999;
    text-decoration: line-through;
    padding-right: 20px;
}
.apartment-discount-price {
    font-size: 26px;
    color: #d84343;
}

#map{
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.apartment-photo-section{
    position: relative;
    margin: 20px 0;
}
.apartment-photo-section .owl-nav{height:0;}
.apartment-photo-section .owl-nav .owl-prev, .apartment-photo-section .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    background: rgba(51,51,51,0.75);
    padding: 20px 20px 20px 15px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: -32px;
    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
    -o-transition: visibility 0.2s linear, opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
    transition: visibility 0.2s linear, opacity 0.2s linear;
}
.apartment-photo-section .owl-nav .owl-prev{
    left: 0;
}
.apartment-photo-section .owl-nav .owl-next{
    right: 0;
}

.margin-bottom{margin-bottom:15px}


.filter-bar {
    background-color: #f7f7f7;
    border-width: 0;
    margin-bottom: 2px;
    z-index: 10;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    min-height: 50px;
}
.float-left {
    float: left;
}
.float-right {
     float: right;
 }
.filter-options-list .filter-name {
    color: #8a8a8a;
    font-size: 12px;
    line-height: 0.9;
    padding-bottom: 4px;
}
.filter-options-list .filter-item{
    max-width:180px;
    padding: 4px 8px;
    border-left: 1px solid #c4c4c4;
}
.filter-options-list .filter-price-from, .filter-options-list .filter-price-to {
    max-width: 48%;
    display: inline-block;
}
.filter-btn-search{
    margin: 8px;
}
.filter-location{

    width: 230px;
    margin: 8px 15px 8px 0;
}
.filter-item-locale{
    border: 1px solid #ddd;
    position: relative;
    padding: 6px 14px;
    font-size: 16px;
    color: #777;
    background: #fff;
    cursor: pointer;
}

.filter-item-locale .locale-list{
    position:absolute;
    display: none;
}
.filter-item-locale .location-caret {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 14px;
}
.filter-item-locale .location-caret:hover {
    color: #ccc;
}
.filter-item-locale ul.locale-list{
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    font-size: 12px;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
}
.filter-item-locale ul.locale-list li {
}
.filter-item-locale ul.locale-list li:hover{
    background: #f3f3f3;
}
.filter-item-locale ul.locale-list li a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 8px 20px;
}
.filter-item-locale .text-locale {margin-right: 20px; overflow: hidden}

ul.locale-list:after, ul.locale-list:before {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    display: table;
}
ul.locale-list:after {
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}ul.locale-list:before {
     border-color: transparent;
     border-bottom-color: #c4c4c4;
     border-width: 11px;
     margin-left: -11px;
 }

ul.locale-list::after {
    clear: both;
}

.login-container .header-group{
    padding: 40px 0;

}
.pagination.page-vh > li > a, .pagination.page-vh > li > span {
    border: none;
    margin: 0 5px;
    color: #333;
}
.pagination.page-vh > .active > a, .pagination.page-vh > .active > span, .pagination.page-vh > .active > a:hover,
.pagination.page-vh > .active > span:hover, .pagination.page-vh > .active > a:focus, .pagination.page-vh > .active > span:focus {
    background-color: transparent;
    color: #337ab7;
}
.pagination.page-vh > li > a:hover, .pagination.page-vh > li > span:hover, .pagination.page-vh > li > a:focus, .pagination.page-vh > li > span:focus {
     z-index: 2;
     color: #23527c;
     background-color: transparent;
     border-color: #ddd;
 }

.object-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 14px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.25);
    -webkit-transition: all 50ms ease;
    -o-transition: all 50ms ease;
    -moz-transition: all 50ms ease;
    transition: all 50ms ease;
    border-radius: 2px;
    height: 300px;
}
.object-item:hover {
     -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
     box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
}
.object-item-photo-wrap {
    text-align: center;
    float: left;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.object-item-photo {
    overflow: hidden;
    background: #f7f7f7;
    float: left;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}
.object-item-photo a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.object-item-photo img {
    display: block;
    margin: 0 auto;
    width: auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.object-item .object-id {
     position: absolute;
     background-color: rgba(100, 100, 100, 0.6);
     top: 12px;
     left: 0;
     padding: 2px 5px 2px 10px;
     color: #fff;
     font-weight: bold;
     z-index:2;
 }
.object-item .object-price {
      font-size: 20px;
      font-weight: 700;
  }
.object-item .object-header {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.object-item .object-header a {
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
}
.object-item .object-address{
    padding: 4px 0;
}
.object-item-body .object-item-link {
    position: absolute;
    bottom: 5px;
    left: 50%;
    padding: 9px 12px;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#gallery {
    height: 100%;
}

#gallery img {
    width: 100%;
}

#thumbs {
    padding: 10px 0px;
}

#thumbs img {
    width: 100px;
    padding-bottom: 5px;
    padding-right: 5px;
    cursor: pointer
}

.cursor-pointer {
    cursor: pointer;
}

.photo-delete {
    display: block;
    color: red;
}

.photo-delete:hover {
    opacity: .8;
    color: red;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    position:relative;
}

.support-message {
    background: #fff;
    border-left: 5px solid #337ab7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px
}

.support-message.message-right {
    border-right: 5px solid #337ab7;
    border-left: none;
    text-align: right;
}

.support-message.message-new {
    background: #eff7f9
}

.support-message .message {
    color: #555;
    padding: 5px 10px;
}

.support-message .message-date {
    color: #777;
    font-size: 10px;
    padding: 5px 10px
}
.support-delimiter{
    border-top: 1px solid #efefef;
    margin: 5px 16px;
}
.support-list .list-group-item > .label {
    float: right
}

.wallet-block, .add-btn-block {
    display: inline-block;
    border: 1px solid #dedede;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background: #fff;
}

.wallet-block .wallet-block-balance {
    color: #555
}

.wallet-block .wallet-block-balance .wallet-balance {
    color: #4face1;
    font-weight: bold;
}

.wallet-block .wallet-refill {
    text-align: center;
    text-transform: uppercase;
}
.padding-top {
    padding-top:10px;
}
.padding-bottom {
    padding-bottom:10px;
}
.inline-block {
    display: inline-block;
}
.object-list-item-photo {
    float:left;
    width: 80px;
    height:50px;
}
.object-list-item-content {
    margin-left: 80px;
    min-height: 50px;
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .home-header.homepage-takeover .header-group h1 {
        font-size: 2.6em;
        letter-spacing: 0;
        text-shadow: 0 1px 1px #333
    }

    .home-header.homepage-takeover .header-group h1 span {
        display: inline
    }

    .homepage-takeover-section {
        padding: 10px;
        margin-top: 0px;
        text-align: center
    }

    .homepage-takeover-section .takeover-logo {
        display: inline;
        padding: 0
    }

    .homepage-takeover-section a.btn {
        display: inline-block
    }
}

@media only screen and (max-width: 766px) {
    .home-header {
        height: 360px
    }
    .home-header .hero-img-wrapper .item {
        height: 360px
    }

    .home-header .header-group h1 {
        margin: 140px 0 30px;
        font-size: 3em
    }

    .home-header .header-group h1 > span {
        display: block
    }

    .home-header .home-header-content {
        max-width: 580px;
        padding: 0 20px;
        margin: 0 auto
    }
    .home-header {
        height: 400px
    }
}
@media only screen and (max-width: 768px) {
    .apartment .apartment-info {
        height: auto;
    }
}
@media only screen and (min-width: 1280px) {
    .object-item {
        height: 300px;
    }
    .object-item .object-item-photo-wrap {
        width: 480px;
    }
    .object-item .object-item-body {
        margin-left: 480px;
    }
}
@media only screen and (max-width: 1279px) and (min-width: 996px) {
    .object-item .object-item-photo-wrap {
        width: 360px;
    }
    .object-item .object-item-body {
        margin-left: 360px;
    }
}
@media only screen and (max-width: 995px) and (min-width: 767px) {
    .object-item .object-item-photo-wrap {
        width: 400px;
    }
    .object-item .object-item-body {
        margin-left: 400px;
    }
}
@media only screen and (max-width: 766px) and (min-width: 665px) {
    .object-item .object-item-photo-wrap {
        width: 360px;
    }
    .object-item .object-item-body {
        margin-left: 360px;
    }
}
@media only screen and (max-width: 664px) {
    .object-item {
        width: 100%;
        border-radius: 0;
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
        min-height: 180px;
        margin-bottom: 10px;
    }
    .object-item .object-item-body {
        margin-left: 0;
        position: absolute;
        color: #fff;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }
    .object-item .object-item-photo-wrap {
        width: 100%;
    }
    .object-item .object-item-photo-wrap .object-item-photo {
        float: none;
        border-radius: 0;
    }
    .object-item .object-item-photo-wrap .object-item-photo img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-height: none;
    }
    .object-item .object-item-photo-wrap .object-item-photo:after {
        content: "";
        display: block;
        height: 60%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.7) 100%);
        background-image: -o-linear-gradient(top, transparent 0%, rgba(0,0,0,0.7) 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.7)));
        background-image: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.7) 100%);
        background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.7) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#B3000000', GradientType=0);
    }
    .object-item:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%;
    }
    .object-item > .aspect-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .object-item-body .object-item-link {
        display: none;
    }
    .object-item .object-header a {
        color: #fff;
    }
    .object-list-item-photo {
        display:none;
    }
    .object-list-item-content {
        margin-left: 0;
        min-height: 50px;
    }
}
@media only screen and (min-width: 665px) {
    .object-item-details {
        position: relative;
        padding: 25px 12px;
        height: 300px;
        line-height: 1.8;
    }
}
.ads-not-found{
    padding: 90px 0;
    font-size: 30px;
    color: #999;
}
.ads-not-found .small {
    font-size: 16px;
}
.photo-rotate {display: block; position: absolute; top: 1px; background: rgba(85, 85, 85, 0.5); padding: 4px 6px; color: white !important;}
.photo-rotate.rotate-left {left:1px}
.photo-rotate.rotate-right {right:1px}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: auto;
    top: 0;
    display: flex;
}
.swiper-pagination-bullet {
    display: flex;
    flex: 1;
    border-radius: 0;
    margin: 0 !important;
    height: 2px;
}

.swiper-pagination-bullet-active {
    background: none;
    background: rgba(0, 0, 0, 0.5);
}

.swiper-button-next, .swiper-button-prev {
    color: rgb(0, 0, 0, 0.5);
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    outline: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 24px;
}

.apartment .swiper-container {
    overflow: hidden;
    height: 240px;
}

@media (max-width: 1199px) {
    .apartment .swiper-container {
        height: 196px;
    }
}

@media (max-width: 991px) {
    .apartment .swiper-container {
        height: 230px;
    }
}

@media (max-width: 767px) {
    .apartment .swiper-container {
        min-height: 195px;
    }
}

.maps-header {
    padding: 4px 0;
    font-size: 10px;
}

.apart-map-info {
    display: flex;
    gap: 6px;
    font-size: 16px;
}
.apart-map-info-price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.apartment-header.maps-header {
    font-size: 16px;
}

.city-map-container {
    width: 100%;
    min-height: 400px;
    height: 900px;
}

@media (max-width: 767px) {
    .city-map-container {
        height: 600px;
    }
}